<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: common_head(~{::title}, ~{::link})}">
    <title>일상</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="~{/fragment/navigation :: navigation ('daily')}"></div>
<div class="container mb-5" style="max-width: 80%">
    <div th:replace="~{/fragment/daily-content :: daily-content}"></div>
    <div th:replace="~{/fragment/comment-list :: comment-list}"></div>
    <div
         class="card" id="comment_box" >
        <div class="card-header">댓글 입력</div>
        <div class="card-body">
            <form th:action="@{/daily/addComment/{id}(id=${id})}" th:object="${commentForm}" method="post">
                <textarea th:field="*{content}" cols="30" rows="5" class="form-control"
                    th:placeholder="${session.loginMember == null} ? '로그인 된 사용자만 댓글을 달 수 있습니다.'"></textarea>
                <button class="btn btn-primary mt-2" type="submit"
                        th:disabled="${session.loginMember == null}">확인</button>
            </form>
        </div>
    </div>
    <ul class="list-group mt-3">
        <a th:if="${nxtDaily != null}" th:href="@{/daily/dailyView/{id}(id=${nxtDaily.id})}"
           class="list-group-item list-group-item-action">
            <span class="me-3">&#9652; 다음글</span>
            <span th:text="|${nxtDaily.title}|"></span>
        </a>
        <a th:if="${prevDaily != null}" th:href="@{/daily/dailyView/{id}(id=${prevDaily.id})}"
           class="list-group-item list-group-item-action">
            <span class="me-3">&#9662; 이전글</span>
            <span th:text="|${prevDaily.title}|"></span>
        </a>
    </ul>
    <div class="d-flex mt-2 justify-content-end">
        <a class="btn btn-primary" th:href="@{/daily}">목록으로</a>
    </div>
</div>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script src="./js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
<script th:inline="javascript">
    const onSearch = [[${onSearch}]];
    const code = [[${code}]];
    const keyword = [[${keyword}]];
    function highlight(keyword){
        if(code === 'TITLE_CONTENT') {
            const $nodeList = document.querySelectorAll('.title, .content');
            makeHighlight(keyword, $nodeList);
        }
        if(code === 'TITLE') {
            const $nodeListOfTitle = document.querySelectorAll('.title');
            makeHighlight(keyword, $nodeListOfTitle);
        } else if(code === 'CONTENT'){
            const $nodeListOfContent = document.querySelectorAll('.content');
            makeHighlight(keyword, $nodeListOfContent);
        } else if(code === 'WRITER'){
            const $nodeListOfWriter = document.querySelectorAll('.writer');
            makeHighlight(keyword, $nodeListOfWriter);
        }
    }
</script>
<script th:src="@{/js/dailyHighlightService.js}"></script>
<script th:src="@{/js/commentBoxService.js}"></script>
</body>
</html>

