<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: common_head(~{::title}, ~{::link})}">
    <title>일상</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="~{fragment/navigation :: navigation ('daily')}"></div>
<div class="container mb-5" style="max-width: 80%">
    <div th:replace="~{/fragment/daily-content :: daily-content}"></div>
    <div th:replace="~{/fragment/edit-comment-list :: edit-comment-list}"></div>
</div>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script src="./js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>
<script>
    const $reply_btn_list = document.querySelectorAll('.reply_btn');

    for (const $reply_btn of $reply_btn_list) {
        $reply_btn.addEventListener('click', () => {
            let reply_btn_id = $reply_btn.getAttribute('id');
            let idx = reply_btn_id.substring(reply_btn_id.lastIndexOf('_') + 1);
            let $reply_box = document.getElementById('reply_box_' + idx);
            if ($reply_btn.textContent === '↪답글') {
                $reply_btn.textContent = '취소';
                $reply_box.style.display = 'block';
            } else {
                $reply_btn.textContent = '↪답글';
                $reply_box.style.display = 'none';
            }
        });
    }
</script>