<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/custom.css" th:href="@{/css/custom.css}">
    <link rel="stylesheet" href="/css/calendar-map.css" th:href="@{/css/calendar-map.css}">
    <script src="https://kit.fontawesome.com/3efb5e8bfa.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div th:replace="~{fragment/navigation :: navigation ('gallery')}"></div>
<div class="container" style="max-width:80%">
    <h5 class="mt-3 fw-bold me-5">갤러리 사진 추가하기</h5>
    <form th:action th:object="${form}" enctype="multipart/form-data" method="post">
        <label for="imageFile">이미지 파일</label>
        <input type="file" id="imageFile" th:field="*{imageFiles}" class="form-control" onchange="test(this.files)">
        <div id="fileList"></div>
        <label for="title">제목</label>
        <input type="text" id="title" th:field="*{title}" class="form-control">
        <label for="description">설명</label>
        <textarea id="description" th:field="*{description}" cols="30" rows="10" class="form-control"></textarea>

        <div th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err}"
             class="field-error row mb-2 ms-2">글로벌 오류 메세지</div>
        <button type="submit" class="btn btn-primary mt-2">게시</button>
        <button type="button" class="btn btn-secondary mt-2" th:onclick="|location.href='@{/gallery}'|">취소</button>
    </form>
</div>
</body>
<script th:inline="javascript">
    let selectedFiles = [];

    $.ajax({
        type: "GET",
        url: `/gallery/files/[[${id}]]`,
        success: function(files){
            loadFiles(files);
        },
        fail: console.log(`[[${id}]]`)
    })

    function loadFiles(files){
        const $fileList = document.getElementById('fileList');
        for (const file of files) {
            selectedFiles.push(file);
            const $item = document.createElement('div');
            const $fileName = document.createTextNode(file.key);
            const $deleteButton = document.createElement('button');
            $deleteButton.addEventListener('click', (e) => {
                $item.remove(); // html 태그 삭제
                e.preventDefault(); // form 제출 방지
                const $deleteItem = document.createElement('input');
                $deleteItem.setAttribute('name', 'deleteFilesId');
                $deleteItem.setAttribute('value', file.id);
                console.log(file.id);
                $deleteItem.setAttribute('type', 'hidden');
            });
            $deleteButton.setAttribute('class', 'btn btn-primary');
            $deleteButton.innerHTML = '삭제';
            $item.append($fileName, $deleteButton);
            $fileList.appendChild($item);
        }
    }
</script>
<script src="./js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</html>