<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: common_head(~{::title}, ~{::link})}">
    <title>사진</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="~{fragment/navigation :: navigation ('gallery')}"></div>
<div class="container mb-5" style="max-width: 80%">
    <h5 class="mt-3 fw-bold me-5 mb-3">이미지 상세 보기</h5>
    <hr>
    <h4 class="fw-bold me-5 ms-3" th:text="${photo.title}"></h4>
    <hr>
    <div class="row mt-5">
        <div class="col col-lg-7">
            <img th:each="awsS3 : ${photo.awsS3List}" th:src="${awsS3.path}"
                 style="max-width:100%; height:auto;">
        </div>
        <div class="col col-lg-4 ms-5">
            <div class="description-box pb-2">
                <h5 class="mt-2 ps-3 fw-bold">Description</h5>
                <hr>
                <div th:utext="${photo.content}" class="ps-3 pb-2"></div>
                <hr>
                <div class="ps-3">
                    <button class="btn btn-primary" th:onclick="|location.href='@{/gallery/edit/{id}(id=${photo.id})}'|">수정하기</button>
                    <button class="btn btn-secondary" th:onclick="|location.href='@{/gallery/delete/{id}(id=${photo.id})}'|">삭제하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script src="./js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>