<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="daily-content">
    <h5 class="mt-3 fw-bold me-5 mb-3">게시물 상세 보기</h5>
    <hr>
    <a th:href="@{/daily/dailyView/{id}(id=${id})}" style="text-decoration: none; color: black">
        <div class="fw-bold fs-3 me-5 title" th:text="${daily.title}"/>
    </a>
    <div style="font-size:0.8rem">
        <span th:text="'작성자 ' + ${daily.writer == null ? '익명' : daily.writer.username}" class="writer"></span>
        <span th:text="'  |  게시일 ' + ${#temporals.format(daily.createDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
        <span th:text="'  |  조회수 ' + ${daily.views}"></span>
        <p th:if="${daily.updateDate != null}"
           th:text="'수정일 ' + ${#temporals.format(daily.updateDate, 'yyyy.MM.dd HH:mm:ss')}"></p>
    </div>
    <hr>
    <pre th:text="${daily.content}" class="mb-3 content"></pre>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary me-2" th:onclick="|location.href='@{/daily/edit/{id}(id=${id})}'|">수정하기</button>
        <button class="btn btn-secondary" th:onclick="|location.href='@{/daily/delete/{id}(id=${id})}'|">삭제하기</button>
    </div>
    <hr>
    <div class="card text-bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title" th:text="|댓글  ${daily.activeCommentCount}개|">댓글</h5>
        </div>
    </div>
</div>
</html>