<html xmlns:th="http://www.thymeleaf.org"/>
<th:block th:fragment="edit-comment-list">
    <div th:each="comment : ${commentList}" th:style="${comment.parent != null ? 'margin-left:1rem' :_}">
        <div th:unless="${comment.id} == ${comment_id}">
            <p th:if="${comment.parent != null}" style="float:left; margin-right:0.5rem"><i
                    class="fa-solid fa-turn-up fa-rotate-90"></i></p>
            <div th:if="${comment.status.toString().equals('ACTIVE')}" style="font-size: 0.8rem" class="mb-1">
                <span th:text="'작성자 ' + ${comment.writer == null ? '익명' : comment.writer.username}"></span>
                <span th:text="'  |  게시일 ' + ${#temporals.format(comment.createDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
                <span th:if="${comment.updateDate != null}"
                      th:text="'  |  최종수정일 ' + ${#temporals.format(comment.updateDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
                <div style="float:right">
                    <button class="btn btn-primary"
                            th:onclick="|location.href='@{/daily/editComment/{id}/{comment_id}(id=${id}, comment_id=${comment.id})}'|">
                        수정하기
                    </button>
                    <button class="btn btn-secondary"
                            th:onclick="|location.href='@{/daily/deleteComment/{id}/{comment_id}(id=${id}, comment_id=${comment.id})}'|">
                        삭제하기
                    </button>
                </div>
            </div>
            <p th:if="${comment.status.toString().equals('DELETE')}" th:text="|삭제된 댓글입니다.|"></p>
            <pre th:if="${comment.status.toString().equals('ACTIVE')}" th:text="${comment.content}"></pre>
            <button th:if="${comment.status.toString().equals('ACTIVE')}"
                    class="btn btn-light reply_btn" th:id="|reply_btn_${comment.id}|"
                    th:style="${comment.parent != null ? 'margin-left:1rem' :_}">↪답글
            </button>
            <div th:id="|reply_box_${comment.id}|" style="display: none" class="mt-2">
                <div class="card">
                    <div class="card-header">답글 입력</div>
                    <div class="card-body">
                        <form th:action="@{/daily/addReply/{id}/{comment_id}(id=${id}, comment_id=${comment.id})}"
                              th:object="${commentForm}" method="post">
                            <textarea th:field="*{content}" cols="30" rows="5" class="form-control"></textarea>
                            <button class="btn btn-primary mt-2" type="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${comment.id} == ${comment_id}">
            <div class="card">
                <div class="card-header">댓글 수정</div>
                <div class="card-body">
                    <form th:action="@{/daily/editComment/{id}/{comment_id}(id=${id}, comment_id=${comment_id})}"
                          th:object="${commentForm}" method="post">
                        <textarea th:field="*{content}" cols="30" rows="5" class="form-control"></textarea>
                        <button class="btn btn-primary mt-2" type="submit">확인</button>
                        <a class="btn btn-secondary mt-2" th:href="@{/daily/dailyView/{id}(id=${id})}">취소</a>
                    </form>
                </div>
            </div>
        </div>
        <hr style="color:rgba(0,0,0,0.3)">
        <th:block th:with="commentList = ${comment.childList}"
                  th:insert="~{/fragment/edit-comment-list :: edit-comment-list}"></th:block>
    </div>
</th:block>