<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="text-center mt-5 mb-3">
    <i class="fa-brands fa-github me-2" th:onclick="|window.open('https://github.com/suhsein')|"></i>
    <i class="fa-solid fa-at me-2" th:onclick="copy()"></i>
    <i class="fa-brands fa-instagram me-2" th:onclick="|window.open('https://instagram.com/suhsein')|"></i>
    <div style="font-size: 0.7rem;">Copyright &copy; 2024 Suhsein. All rights reserved.</div>
    <script>
        function copy() {
            window.navigator.clipboard.writeText("mini9075@naver.com").then(() => {
                alert("이메일 주소가 복사되었습니다.");
            });
        }
    </script>
</footer>