<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- calendar info description-->
<div th:fragment="calInfoDesc">
    <ul class="lh-lg">
        <p class="h5">캘린더</p>
        <ul>
            <li>캘린더의 왼쪽 버튼을 누르면 이전달로, 오른쪽 버튼을 누르면 다음달로 이동합니다.</li>
            <li>캘린더의 각 날짜에는 해당일의 일정 갯수만큼 뱃지에 숫자가 표시됩니다.</li>
            <li>날짜를 클릭하면 아래 기능들을 사용할 수 있습니다.</li>
            <ul>
                <li>일정 등록</li>
                <li>일정 목록 보기</li>
            </ul>
        </ul>
        <hr>
        <p class="h5">일정 등록하기</p>
        <ul>
            <li>제목</li>
            <ul>
                <li>일정을 구분할 수 있도록 제목을 입력할 수 있습니다.</li>
            </ul>
            <li>장소</li>
            <ul>
                <li>장소를 직접 입력할 수 있습니다.</li>
                <li>지도를 열어서 장소를 검색할 수 있습니다.</li>
                <li>검색된 장소로부터 마커를 클릭하거나 장소 목록에서 장소를 클릭하면, 해당 장소명이 장소 입력칸에 입력됩니다.</li>
            </ul>
            <li>시간</li>
            <ul>
                <li>오전/오후의 시간을 스크롤하여 선택할 수 있습니다.</li>
            </ul>
            <li>상세 정보</li>
            <ul>
                <li>상세한 일정 정보를 설명 창에 입력할 수 있습니다.</li>
            </ul>
        </ul>
        <hr>
        <p class="h5">일정 목록 보기</p>
        <ul>
            <li>일정 보기</li>
            <ul>
                <li>등록한 일정의 제목, 장소, 시간, 상세설명을 볼 수 있습니다.</li>
            </ul>
            <li>일정 완료</li>
            <ul>
                <li>완료 버튼을 클릭하면 일정을 완료 처리할 수 있습니다.</li>
                <li>완료 상태에서 활성화 버튼을 누르면 다시 일정을 활성화 할 수 있습니다.</li>
            </ul>
            <li>일정 삭제</li>
            <ul>
                <li>삭제 버튼을 누르면 일정을 목록에서 제거할 수 있습니다.</li>
            </ul>
        </ul>
    </ul>
</div>

<!-- map info description-->
<div th:fragment="mapInfoDesc">
    <ul class="lh-lg">
        <p class="h5">지도</p>
        <ul>
            <li>지도에 키워드를 입력합니다</li>
            <ul>
                <li>예시) 전주 미용실, 전주 맛집</li>
            </ul>
            <li>해당하는 장소들이 왼쪽 목록에 표시됩니다.</li>
            <li>목록의 장소명, 주소, 전화번호 클릭 시, 클립보드에 복사됩니다.</li>
            <li>목록의 장소 혹은 지도에 마킹된 장소 위에 커서를 두면 장소명을 볼 수 있습니다.</li>
        </ul>
    </ul>
</div>

<!-- gallery info description-->
<div th:fragment="gallInfoDesc">
    <ul class="lh-lg">
        <p class="h5">갤러리</p>
        <ul>
            <li>목록에서 게시된 사진과 제목을 볼 수 있습니다.</li>
            <li>게시물의 첨부파일 목록 중 첫번째 첨부파일이 썸네일로 보여집니다.</li>
        </ul>
        <hr>
        <p class="h5">글쓰기</p>
        <ul>
            <li>글쓰기 버튼을 눌러서 글을 쓸 수 있습니다.</li>
            <ul>
                <li>갤러리 게시판의 게시물에는 무조건 하나 이상의 사진을 첨부해야합니다.</li>
                <li>사진 첨부 시 첨부 사진 목록이 표시됩니다.</li>
                <li>첨부 사진 목록에서 삭제 버튼을 눌러서 첨부한 사진을 삭제할 수 있습니다.</li>
            </ul>
        </ul>
        <hr>
        <p class="h5" 수정과 삭제>
        <ul>
            <li>게시물의 수정과 삭제가 가능합니다.</li>
            <ul>
                <li>게시물 수정 시에도 하나 이상의 사진이 남아있어야합니다.</li>
                <li>기존에 첨부했던 사진을 삭제하거나 새로운 사진을 첨부할 수 있습니다.</li>
            </ul>
        </ul>
        </p>
    </ul>
</div>

<div th:fragment="dailyInfoDesc">
    <ul class="lh-lg">
        <p class="h5">목록</p>
        <ul>
            <li>목록에서 게시된 글들을 볼 수 있습니다.</li>
            <li>하단의 버튼을 통해 목록 번호를 이동할 수 있습니다.</li>
        </ul>
        <hr>
        <p class="h5">글쓰기</p>
        <ul>
            <li>글쓰기 버튼을 눌러서 글을 쓸 수 있습니다.</li>
            <li>게시물의 수정과 삭제가 가능합니다.</li>
            <li>수정 시에 최종 수정 날짜가 추가됩니다.</li>
        </ul>
        <hr>
        <p class="h5">댓글</p>
        <ul>
            <li>게시물에 댓글을 입력할 수 있습니다.</li>
            <li>댓글의 수정과 삭제가 가능합니다.</li>
            <li>댓글에 답글을 달 수 있습니다.</li>
            <li>답글이 달린 댓글을 삭제하더라도 답글은 삭제되지 않습니다.</li>
        </ul>
        <p class="h5">검색</p>
        <ul>
            <li>게시물 제목과 내용, 제목, 내용, 글쓴이 중 선택하여 키워드 검색이 가능합니다.</li>
            <li>검색결과는 목록으로 보여집니다.</li>
            <li>하단의 버튼을 통해 목록 번호를 이동할 수 있습니다.</li>
            <li>키워드는 하이라이트 처리되어 보여집니다.</li>
        </ul>
    </ul>
</div>
</html>