<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- toDoModal -->
<div class="modal modal-lg fade" id="toDoModal" tabindex="-1" aria-hidden="true"
        th:fragment="toDoModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-name"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <button class="nav-link active schedule_tabs" aria-current="page">일정입력</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link schedule_tabs">일정보기</button>
                </li>
            </ul>
            <div class="modal-body">
                <div class="schedule_tab_contents">
                    <form action="">
                        <label for="toDoTitle">제목</label>
                        <input type="text" class="form-control" id="toDoTitle">
                        <label for="toDoPlace">장소</label>
                        <input type="text" class="form-control" id="toDoPlace">
                        <button type="button" class="btn btn-seablue my-2" onclick="openMapWrap()" id="openMap" style="display:block">지도 열기</button>
                        <!--    지도     -->
                        <div class="map_wrap" style="display: none">
                            <div class="row" style="font-size: 0.9rem">
                                <div class="col col-9 pe-0">
                                    <input type="text" id="mapSearchInput" class="form-control" style="display: inline" th:placeholder="|검색 장소를 입력해주세요.|">
                                </div>
                                <div class="col col-sm-3 ps-2">
                                    <button type="button" id="mapSearch" class="btn btn-outline-info" style="display: inline">검색</button>
                                    <button type="button" id="menuControl" class="btn btn-outline-secondary"
                                            onclick="menuVisibility(this)">목록 열기</button>
                                </div>
                            </div>
                            <div class="mt-3" id="map" style="width:100%; height: 20rem; position:relative; overflow:hidden">
                                <div id="menu_wrap" style="visibility: hidden">
                                    <ul id="placesList"></ul>
                                    <div id="pagination"></div>
                                </div>
                            </div>
                        </div>
                        <label for="toDoTime">시간</label>
                        <input type="time" class="form-control" id="toDoTime">
                        <label for="toDoInfo">상세 정보</label>
                        <textarea class="form-control" id="toDoInfo" name="" cols="30" rows="10"></textarea>
                    </form>
                </div>
                <div class="schedule_tab_contents" style="display: none">
                    후루꾸
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>


<!-- infoModal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-hidden="true"
        th:fragment="infoModal(title, description)">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="${title}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <ul class="lh-large" th:replace="${description}"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /modal -->

</body>
</html>