<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="navbar navbar-brand navbar-expand-lg" id="menu-navigation" th:fragment="navigation (curMenu)">
    <div class="container-fluid">
        <a th:href="@{/}" class="navbar-brand ms-3 me-5 pt-0" style="color: #f8fff8">
            <img src="../favicon.ico" th:src="@{/favicon.ico}" alt="메인" style="width:1.5rem; height: 1.5rem">
        </a>
        <ul class="navbar-nav me-auto menu SMN_effect-3">
            <li class="nav-item" th:if="${session == null or session.loginMember == null}">
                <a th:href="@{/login}">로그인</a>
            </li>
            <li class="nav-item" th:if="${session == null or session.loginMember == null}">
                <a th:href="@{/signUp}">회원가입</a>
            </li>
            <form method="post" th:action="@{/logout}" th:if="${session != null and session.loginMember != null}">
                <button type="submit" class="btn btn-outline-light btn-sm">로그아웃</button>
            </form>
            <li class="nav-item ms-5" th:classappend="${curMenu == 'gallery'}?'cur-menu':_">
                <a th:href="@{/gallery}">갤러리</a>
            </li>
            <li class="nav-item ms-2" th:classappend="${curMenu == 'daily'}?'cur-menu':_">
                <a th:href="@{/daily}">일상</a>
            </li>
            <li class="nav-item ms-2" th:classappend="${curMenu == 'map'}?' cur-menu':_">
                <a th:href="@{/map}">지도</a>
            </li>
            <li class="nav-item ms-2" th:classappend="${curMenu == 'calendar'}?' cur-menu':_">
                <a th:href="@{/calendar}">캘린더</a>
            </li>
        </ul>
    </div> <!-- Navigation Bar -->
</div>
