<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="toDoNavTab(curMenu)">
  <h5 th:text="|${year}년 ${month}월 ${day}일 일정|" class="my-3"></h5>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link schedule_tabs" th:classappend="${curMenu == 'toDo'} ? ' active'" href="/toDo"
         th:href="|@{/toDo/{year}/{month}/{day}(year=${year}, month=${month}, day=${day})}|">일정입력</a>
    </li>
    <li class="nav-item">
      <a class="nav-link schedule_tabs" th:classappend="${curMenu == 'toDoList'} ? ' active'"   href="/toDo"
         th:href="|@{/toDo/{year}/{month}/{day}/list(year=${year}, month=${month}, day=${day})}|">일정목록</a>
    </li>
  </ul>
</div>