<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>404 Error</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <style>
        a{
            color:black;
            font-weight: bold;
            text-underline: none;
        }
    </style>
</head>
<body>
<div class="container" style="max-width: 80%">
    <div class="py-5 text-center">
        <h2>404 Error 발생</h2>
        <h5 class="mt-5 mb-4">요청하신 페이지가 존재하지 않습니다.</h5>
        <a th:href="@{/}">메인으로 돌아가기</a>
    </div>
</div>
</body>
</html>