.btn-seablue{--bs-btn-color:#fff;--bs-btn-bg: #55dcaa;--bs-btn-border-color: #41cba2;--bs-btn-hover-color:#fff;
    --bs-btn-hover-bg: #5dccac;--bs-btn-hover-border-color: #52d0a7;--bs-btn-focus-shadow-rgb:66,70,73;--bs-btn-active-color:#fff;
    --bs-btn-active-bg:#59dcb2;--bs-btn-active-border-color:#52d0a7;--bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#fff;--bs-btn-disabled-bg:#59dcb2;--bs-btn-disabled-border-color:#52d0a7}

.btn-turquoise{--bs-btn-color:#fff;--bs-btn-bg: #40E0D0FF;--bs-btn-border-color: #2dd3c1;--bs-btn-hover-color:#fff;
    --bs-btn-hover-bg: #4cc4b7;--bs-btn-hover-border-color: #52c4b7;--bs-btn-focus-shadow-rgb:66,70,73;--bs-btn-active-color:#fff;
    --bs-btn-active-bg:#4cc4b7;--bs-btn-active-border-color:#52c4b7;--bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#fff;--bs-btn-disabled-bg:#4cc4b7;--bs-btn-disabled-border-color:#52c4b7}

.td-hover td:hover{
    background: #dff5f2;
}

.tr-hover tr:hover td{
    background: #dff5f2 !important;
}

.description-box{
   border-radius: 10px; border: 1px solid rgba(0,0,0,0.2);  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    width: 100%;
}

.table-seablue{--bs-table-color:#000;--bs-table-bg: #9bece3;--bs-table-border-color: #ffffff;--bs-table-striped-bg:#41cba2;
    --bs-table-striped-color:#000;--bs-table-active-bg:#9bece3;--bs-table-active-color:#000;--bs-table-hover-bg:#9bece3;
    --bs-table-hover-color:#000;color:var(--bs-table-color);border-color:var(--bs-table-border-color)}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover, a:focus {
    outline: none;
}

.menu a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 1rem;
    /**/
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.field-error{
    color:#dc3545;
}

footer i{
    cursor: pointer;
}

.SMN_effect-3 :not(.cur-menu) a:after{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.1rem;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.SMN_effect-3 :not(.cur-menu) a:hover:after, .SMN_effect-3 a:focus:after {
    height: 0.1rem;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.cur-menu a {
    color: darkslategray;
}

