<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="./bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="./custom.css" th:href="@{/css/custom.css}">
</head>
<body>
<div th:replace="~{fragment/navigation :: navigation ('bbs')}"></div>
<div class="container mt-4" style="max-width: 60%">
    <h5 class="mt-3 fw-bold">게시판</h5>
    <table class="table mt-4 text-center">
        <thead>
            <tr>
                <th scope="col" class="col-2">게시물 번호</th>
                <th scope="col" class="text-start">제목</th>
                <th scope="col" class="col-1">날짜</th>
                <th scope="col" class="col-1">조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="col-1">1</th>
                <td class="text-start">안뇽</td>
                <td class="col-1">01/21</td>
                <td class="col-1">1</td>
            </tr>
        </tbody>
    </table>
</div> <!-- /container -->
<script src="./bootstrap.bundle.js"></script>
</body>
</html>