<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: common_head(~{::title}, ~{::link})}">
    <title>게시판</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div th:replace="~{fragment/navigation :: navigation ('bbs')}"></div>
<div class="main-container container mt-4 d-flex justify-content-center" style="max-width: 60%">
    <div class="the-card card mt-3 shadow-sm">
        <div class="card-front">
            <img class="card-img" th:src="@{/cloud.jpg}" alt="cloud image">
            <div class="card-img-overlay">
                <h2 class="card-title mb-5">OwnSpace</h2>
                <h5 class="card-text mb-4">In my OwnSpace, All in OwnSpace</h5>
                <p class="card-text" style="line-height: 1.9">
                    OwnSpace에 오신 것을 환영합니다.<br>
                    OwnSpace는 사용자가 나만의 공간에서 나만의 기록을 남길 수 있도록,<br>여러 기능을 제공하는 웹사이트입니다.<br>
                    갤러리 게시판, 일상 게시판, 지도, 달력으로 구성되어 있습니다.<br>
                    흘려보내기 쉬웠던 일상을 기록하고 음미해보세요.
                </p>
            </div>
        </div>
        <div class="card-back">
            <img class="card-img" th:src="@{/cloud.jpg}" alt="cloud image" style="filter: grayscale(100%)">
            <div class="card-img-overlay">
                <h2 class="card-title mb-5">OwnSpace</h2>
                <h5 class="card-text mb-4">In my OwnSpace, All in OwnSpace</h5>
                <p class="card-text" style="line-height: 1.9">
                    OwnSpace는 스프링 MVC와 JPA 학습을 위해 제작한 프로젝트입니다.<br>
                    프로젝트 제작과 관련하여 더 자세한 정보를 알고싶다면,<br>
                    <a th:href="@{https://github.com/suhsein/OwnSpace}" target="_blank"
                        style="text-decoration: none; color: #00ceb6">OwnSpace Github 페이지</a>
                    를 방문해주세요.
                </p>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<footer th:replace="~{/fragment/footer :: footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>