<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: common_head(~{::title}, ~{::link})}">
    <title>게시판 메인</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div class="container" style="max-width: 50%">
    <h2 class="my-5 text-center">Own Space</h2>

    <div class="row m-5">
        <div class="col">
            <button class="w-100 h-100 btn btn-lg btn-turquoise"
                    th:onclick="|location.href='@{/login}'|">로그인</button>
        </div>
        <div class="col">
            <button class="w-100 h-100 btn bnt-lg btn-seablue"
                    th:onclick="|location.href='@{/signUp}'|">회원가입</button>
        </div>
    </div>
</div> <!-- /container-->
<footer th:replace="~{/fragment/footer :: footer}"></footer>
</body>
</html>