<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 보기</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/custom.css" th:href="@{/css/custom.css}">
    <script src="https://kit.fontawesome.com/3efb5e8bfa.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragment/navigation :: navigation('item-view')}"></div>
<div class="container" style="max-width: 80%">
  <div class="py-5 text-center">
    <h2>상품 조회</h2>
  </div>

  상품명 : <span th:text="${item.itemName}"></span><br>
  첨부파일 : <a th:if="${item.attachFile}" th:href="|@{/attach/{filename}(filename=${item.id})}|" th:text="${item.attachFile.uploadFileName}"></a><br>
  <img th:each="imageFile : ${item.imageFiles}" th:src="|@{/images/{filename}(filename=${imageFile.storeFileName})}|"
        style="max-width: 100%; height: auto">
</div>
<script src="./js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>