<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>지도</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/custom.css" th:href="@{/css/custom.css}">
    <link rel="stylesheet" href="/css/map.css" th:href="@{/css/map.css}">
    <script src="https://kit.fontawesome.com/3efb5e8bfa.js" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="~{fragment/modals :: infoModal('지도 사용법', ~{fragment/infoDescription::mapInfoDesc})}"></div>
<div th:replace="~{fragment/navigation :: navigation ('map')}"></div>

<div class="container" style="max-width: 80%">
    <div class="row">
        <div class="col col-lg-11">
            <h5 class="mt-3 fw-bold me-5">지도</h5>
        </div>
        <div class="col col-sm-1">
            <button class="btn btn-seablue ms-5 mt-3" style="border-radius: 50%; width: 2.8rem; height: 2.8rem"
                    data-bs-toggle="modal" data-bs-target="#infoModal">
                <i class="fa-regular fa-circle-question" style="font-size: 2rem; margin: 0 -0.38rem"></i>
            </button>
        </div>
    </div>
    <div class="row" style="max-width: 50%">
        <div class="col col-lg-8">
            <input type="text" id="mapSearchInput" class="form-control form-control-sm mt-1"
                   th:placeholder="|장소를 입력해주세요.|">
        </div>
        <div class="col col-lg-4 ps-0">
            <button type="submit" id="mapSearch" class="btn btn-seablue">검색</button>
            <button type="button" id="menuControl" class="btn btn-outline-secondary"
                    onclick="menuVisibility(this)">목록 열기
            </button>
        </div>
    </div>
    <div class="map_wrap">
        <div class="mt-3" id="map" style="width: 80rem; height: 33rem; position:relative; overflow:hidden"></div>
        <div id="menu_wrap" style="visibility: hidden">
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>
</div> <!-- map container -->

</div> <!-- /container -->

<!-- 카카오 지도 api . 자바스크립트 코드 -->
<script type="text/javascript"
        th:src="@{|//dapi.kakao.com/v2/maps/sdk.js?appkey=#{kakaoJsKey}&libraries=services|}"></script>
<script type="text/javascript" th:src="@{|//dapi.kakao.com/v2/maps/sdk.js?appkey=#{kakaoJsKey}|}"></script>
<script type="text/javascript" th:src="@{/js/mapService.js}"></script>
<script type="text/javascript" th:src="@{/js/utils.js}"></script>

<script src="./js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>