<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="./custom.css">
    <style>
        .field-error{
            color:#dc3545;
        }
    </style>
</head>
<body>
<div class="container" style="max-width: 600px">
    <h2 class="text-center my-5">회원가입</h2>
    <form action="" th:action th:object="${memberSave}" method="post" class="form-control py-5 px-3 rounded-4 shadow-sm">
        <div class="row mb-2 px-5">
            <div class="col col-sm-4">
                <label for="id" class="mt-2 ms-2">아이디</label>
            </div>
            <div class="col col-lg-8">
                <input type="text" th:field="*{userId}"
                       th:errorclass="field-error" id="id" class="form-control rounded-0 rounded-top-3">
            </div>
        </div>
        <div class="row mb-2 px-5">
            <div class="col col-sm-4">
                <label for="password" class="mt-2 ms-2">비밀번호</label>
            </div>
            <div class="col col-lg-8">
                <input type="text" th:field="*{password}"
                       th:errorclass="field-error" id="password" class="form-control rounded-0">
            </div>
        </div>
        <div class="row mb-2 px-5">
            <div class="col col-sm-4">
                <label for="check_password" class="mt-2 ms-2">비밀번호 확인</label>
            </div>
            <div class="col col-lg-8">
                <input type="text" th:field="*{checkPassword}"
                       th:errorclass="field-error" id="check_password" class="form-control rounded-0">
            </div>
        </div>
        <div class="row mb-2 px-5">
            <div class="col col-sm-4">
                <label for="name" class="mt-2 ms-2">이름</label>
            </div>
            <div class="col col-lg-8">
                <input type="text" th:field="*{username}"
                       th:errorclass="field-error" id="name" class="form-control rounded-0">
            </div>
        </div>
        <div class="row mb-2 px-5">
            <div class="col col-sm-4">
                <label for="email" class="mt-2 ms-2">이메일</label>
            </div>
            <div class="col col-lg-8">
                <input type="text" th:field="*{email}"
                       th:errorclass="field-error" id="email" class="form-control rounded-0 rounded-bottom-3">
            </div>
        </div>

        <!--  에러 메세지  -->
        <div th:errors="*{userId}" class="field-error row mb-2 px-5">
            공백일 수 없습니다
        </div>
        <div th:errors="*{password}" class="field-error row mb-2 px-5">
            공백일 수 없습니다
        </div>
        <div th:errors="*{checkPassword}" class="field-error row mb-2 px-5">
            공백일 수 없습니다
        </div>
        <div th:errors="*{username}" class="field-error row mb-2 px-5">
            공백일 수 없습니다
        </div>
        <div th:errors="*{email}" class="field-error row mb-2 px-5">
            공백일 수 없습니다
        </div>
        <div th:if="${#fields.hasGlobalErrors()}" th:each="err: ${#fields.globalErrors()}" th:text="${err}"
             class="field-error row mb-2 px-5">
            글로벌 오류 메세지
        </div>

        <div class="row px-5">
            <button class="mt-4 w-100 h-20 btn btn-lg btn-seablue">회원가입</button>
        </div>
    </form>
</div> <!-- /container-->
</body>
</html>