<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일정등록</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="/css/custom.css" th:href="@{/css/custom.css}">
  <link rel="stylesheet" href="/css/calendar-map.css" th:href="@{/css/calendar-map.css}">

  <script src="https://kit.fontawesome.com/3efb5e8bfa.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragment/navigation :: navigation ('calendar')}"></div>

<div class="container my-2" style="max-width: 80%">
  <div th:replace="~{fragment/toDoNav :: toDoNavTab('toDo')}"></div>
  <div class="schedule_tab_contents mt-3">
    <form th:action="|@{/toDo/{year}/{month}/{day}(year=${year}, month=${month}, day=${day})}|"
          th:object="${toDo}" method="post">
      <label for="toDoTitle">제목</label>
      <input type="text" class="form-control" id="toDoTitle" th:field="*{toDoTitle}">
      <label for="toDoPlace">장소</label>
      <input type="text" class="form-control" id="toDoPlace" th:field="*{toDoPlace}">
      <button type="button" class="btn btn-seablue my-2" onclick="openMapWrap()" id="openMap" style="display:block">지도 열기</button>
      <!--    지도     -->
      <div class="map_wrap" style="display: none">
        <div class="row" style="font-size: 0.9rem">
          <div class="col col-9 pe-0">
            <input type="text" id="mapSearchInput" class="form-control" style="display: inline" th:placeholder="|검색 장소를 입력해주세요.|">
          </div>
          <div class="col col-sm-3 ps-2">
            <button type="button" id="mapSearch" class="btn btn-outline-info" style="display: inline">검색</button>
            <button type="button" id="menuControl" class="btn btn-outline-secondary"
                    onclick="menuVisibility(this)">목록 열기</button>
          </div>
        </div>
        <div class="mt-3" id="map" style="width:100%; height: 20rem; position:relative; overflow:hidden">
          <div id="menu_wrap" style="visibility: hidden">
            <ul id="placesList"></ul>
            <div id="pagination"></div>
          </div>
        </div>
      </div>
      <label for="toDoTime">시간</label>
      <input type="time" class="form-control" id="toDoTime" th:field="*{toDoTime}" onfocus="this.showPicker()">
      <label for="toDoDesc">상세 정보</label>
      <textarea class="form-control" id="toDoDesc" name="" cols="30" rows="10" th:field="*{toDoDesc}"></textarea>
      <button type="button" class="btn btn-secondary mt-3" th:onclick="|location.href='@{/calendar}'|">Close</button>
      <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>
  </div>
</div>

<!-- 카카오 지도 api . 자바스크립트 코드 -->
<script type="text/javascript"
        th:src="@{|//dapi.kakao.com/v2/maps/sdk.js?appkey=#{kakaoJsKey}&libraries=services|}"></script>
<script type="text/javascript" th:src="@{|//dapi.kakao.com/v2/maps/sdk.js?appkey=#{kakaoJsKey}|}"></script>
<script type="text/javascript" th:src="@{/js/mapService.js}"></script>
<script type="text/javascript" th:src="@{/js/calendarMapService.js}"></script>

<script src="./js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>